.status{
    display: block;
    margin: auto 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
.true{
    background-color: green;
}
.false{
    background-color: red;
}
.item {
    box-sizing: border-box;
    display: flex;
    width: 300px;
    height: 120px;
    margin: 30px auto;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgb(251, 251, 251);
}

/* On mouse-over, add a deeper shadow */
.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.avatar {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto 0;
    margin-left: 10px;
}
.name {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: black;
    margin: auto;
}